name: Run TDR PR Monitor - Scala Steward Dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 3,5'
jobs:

  run:
    runs-on: ubuntu-latest
    environment: tdr
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.BAU_SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: transfer-digital-records
          PULL_REQUEST_REF: scala-steward-dependencies
          DRY_RUN: false
