name: Run TDR PR Monitor - Scala Steward Updates
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * MON'
jobs:

  run:
    runs-on: ubuntu-latest
    environment: tdr
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.BAU_SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: transfer-digital-records
          PULL_REQUEST_REF: Scala Steward Updates
          DRY_RUN: false
