name: Run Pull Request Monitor
on:
  workflow_dispatch:
  schedule:
    - cron: '2 7,13 * * 1-5'
jobs:

  run-tdr:
    runs-on: ubuntu-latest
    environment: tdr
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: transfer-digital-records
          DRY_RUN: false
          IGNORE_BOT_UPDATES: true
  run-dri:
    runs-on: ubuntu-latest
    environment: dri
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: digital-records-repository
          DRY_RUN: true
  run-tre:
    runs-on: ubuntu-latest
    environment: tre
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@a627500d27445f8c5021755a439829b6e78e3358 # v1.1.15
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: transformation-engine
          DRY_RUN: false
