name: Run Pull Request Monitor
on:
  workflow_dispatch:
  schedule:
    - cron: '2 7,13 * * 1-5'
jobs:

  run-tdr:
    runs-on: ubuntu-latest
    environment: tdr
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: transfer-digital-records
          DRY_RUN: false
          IGNORE_BOT_UPDATES: true
  run-dri:
    runs-on: ubuntu-latest
    environment: dri
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: digital-records-repository
          DRY_RUN: true
  run-tre:
    runs-on: ubuntu-latest
    environment: tre
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - run: sbt run
        env:
          SLACK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GITHUB_API_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TEAM: transformation-engine
          DRY_RUN: false
